<header>
<%= render 'shared/nav'%>  
</header> 
<body>
<% @users.each do |user| %>
    <%= link_to user.username, user %>
    <%= user.email %>
<% end %>


<%= link_to "All users", users_path %>

</body>

<%= render 'shared/footer'%> 
