
<body>

<main>    
<div class = "main-container">
        <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class: "img-fluid avatar-img" %>
        <% end %>
       
<div class = "main-inner-text" >
            <h2><%= @user.username %></h2><br>
            <%= @user.city %><br>
            <%= @user.state %><br>  
            <% if(current_user && current_user.id && (current_user.id == @user.id)) %>
             <%= @user.email %>
            <% end %>
        <% if(current_user && current_user.id && (current_user.id == @user.id)) %>
        <%= link_to "Edit Profile", edit_user_registration_path, :class => "btn btn-sm btn-outline-secondary" %> 
        <% end %>
    </div>  
    </div> 
   
<hr class="featurette-divider">
<% if(current_user.id == @user.id) %>
<h2 class="heading-profile "> My Listings</h2>   
<% else %>  
<h2 class="heading-profile "> Shop </h2>   
<% end %>  
<div class="bg-light">

        
<% if @user.items.empty?  %>
<h4>No Listings </h4>
<%else%>
                <section class="container item-index-container">
                        
                <div class="row">
                <% @user.items.each do |item| %>
                            <div class=" column index-item-wrapper"> 
                                        <div class = "image-wrapper ">    
                                                 
                                                <%= link_to item do %>
                                                    <%= image_tag item.images[0], :class => "img-size" %> 
                                                                <div class="item-title-price">
                                                                <%= item.title %><br>
                                                            
                                                                <span><%= number_to_currency(item.price) %> </span> 
                                                                
                                                                </div>   
                                                    <% end %>    
                                                
                                            <% if item.payment != nil && item.payment.paid == true  %> 
                                            <p class = "sold ">SOLD</p>
                                            <% else %> 
                                                    <div class="btn-group remove-buy-cartitem">
                                                    <% if(current_user && current_user.id && (current_user.id == item.user_id)) %>
                                                    <%= link_to 'Edit', edit_item_path(item), :class => "btn btn-sm btn-outline-secondary" %> 
                                                    <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-outline-secondary" %> 
                                                    <% end %>
                                                    </div>
                                            <% end %>      
                                            </div>   
                            </div>   
                    <%end%>
                </div>
            </section>
<%end%>    

<hr class="featurette-divider">
<% if(current_user.id == @user.id) %>
   <h2 class="heading-profile "> My Purchases</h2>

        <% if @bought_items.empty?  %>
        <h4>No Purchases </h4>        
        <%else%>
                <section class="container item-index-container">
                <div class="row">
                        <% if user_signed_in? && current_user.buyer_payments.any? %>
                            <% @bought_items.each do |bought_items| %>
                                <div class=" column index-item-wrapper"> 
                                    <div class = "image-wrapper ">
                                                <%= image_tag bought_items.images[0], :class => "img-size" %> <br>
                                                    <div class="item-title-price">
                                                    <%= bought_items.title %><br>
                                                    <%=number_to_currency(bought_items.price)  %>
                                                    </div>
                            
                                    </div>
                                </div>
                        <% end %>
                    
                </div> 
        <% end %>     
            </section>
<%end%>
<% end %>   


      </div> 
    </main>
</body>

