<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav ">
  
      <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
          <form class="nav-item form-inline search-button">
                <input class="form-control" type="search" placeholder="Search items.." aria-label="Search">
                <button class="btn " type="submit"><i class="fas fa-search"></i></button>
          </form>   
  
          <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Apparel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <nav class="dropdown-item">
                      <li>
                      <%= link_to("All", items_path)%>
                      </li>
                      <% Category.all.each do |category| %> 
                      <li>
                      <%= link_to category.name, items_path(category: category.name) %>
                      </li>
                      
                      <% end %>
                        
                </nav>
              </div> 
          </div>
          
          
          <ul class = "nav-item">  
            <li class = " user-buttons">
              <%= link_to 'Sell My Clothes', new_item_path, class: "user-buttons-do" %>
            </li>
            <% if user_signed_in? %>
              <li class = "user-buttons">        
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "user-buttons-do"%>
              </li>
              <li class = "user-buttons">
              <%= link_to 'View Profile', user_path(current_user), class: "user-buttons-do"%>
              </li>
              <li class = "user-buttons">
                <%= link_to "Edit Profile", edit_user_registration_path, class: "user-buttons-do"%>
              </li>
             
            <% else %>
              <li class = "user-buttons">
                <%= link_to "Log In", new_user_session_path, class: "user-buttons-do"%>
              </li>
              <li class = "user-buttons">
                <%= link_to 'Sign Up', new_user_registration_path, class: "user-buttons-do"%>
              </li>
          <% end %>
        </ul>
      </div>     

    <div id="main">
      <button class="openbtn" onclick="openNav()"><i class="fas fa-bars"></i></button>
    </div>

    <a class="navbar-brand" href="/">YOUR THRIFT CO.</a>
    <%= link_to do %>
    <i class="fas fa-shopping-bag"></i>  
    <% end %>
</nav>
    
    

    



<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>