<p id="notice"><%= notice %></p>

<h1>Shopping Bags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_bags.each do |shopping_bag| %>
      <tr>
        <td><%= link_to 'Show', shopping_bag %></td>
        <td><%= link_to 'Edit', edit_shopping_bag_path(shopping_bag) %></td>
        <td><%= link_to 'Destroy', shopping_bag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopping Bag', new_shopping_bag_path %>
