<header>
<%= render 'shared/nav'%>  
</header> 

<body>

<main>
<div>
  <h1>Your Cart</h1>
</div>    
<div>
    <% unless @cart.blank? %>
    <% @cart.items.each do |cart_item| %>
       
     
                <p>
                  <span ><%= link_to cart_item.title, item_path(cart_item) %></span><br>
                  <span ><%= cart_item.description %></span><br>
                  <span ><%= pluralize format_grams_to_kg(shopping_cart_item.weight), 'kg' %></span><br>
                  <span ><%= number_to_currency  shopping_cart_item.price %></span>
                  <span ><%= number_to_currency  shopping_cart_item.shipping %></span>
                </p>
      </div>
  <div>
          <%= link_to 'Remove from Cart', cart_path(cart_item), method: :delete %>
  </div>
      <% end %>
      <% end %>
</div>
</main>


</body>

<%= render 'shared/footer'%> 
