<header>
<%= render 'shared/nav'%>  
</header> 

<body>

<main>
<div >
  <h1>Your Cart</h1>
</div>    
   

      <td><%= button_to "Remove", cart_path(item_id: item.id), method: 'delete' %></td>
      
  
</div>
</main>
</body>

<%= render 'shared/footer'%> 



<h1> Cart </h1>
<% @items.each do |item| %>
  <p>
    <%= item.title %>
    <%= link_to (image_tag item.images[0], width: 100), item_path(item) %>
    <%= number_to_currency(item.price) %>
    <%= item.description.truncate_words(10) %>
    <%= link_to "Remove", remove_path(item) %>
  </p>
<% end %>