<header>
<%= render 'shared/nav'%>  
</header> 
<body>
<main role="main">      
  
 <h2 class="heading-profile">Your Bag <br><%= link_to 'Back To Shopping', items_path, :class => "btn btn-sm btn-outline-secondary" %></h2>
 <div class=" bg-light">          
           
 <section class="container item-index-container">
         
        <div class="row">
        
            <% @cart.cart_items.each do |cartitem| %>  
                    <div class=" column index-item-wrapper"> 
                                  <div class = "image-wrapper ">
                                        
                                            <%= link_to cartitem.item do %>
                                            <%= image_tag(cartitem.item.images[0], class: " img-size-cart")%> 
                                                        <div class="item-title-price">
                                                        <%= cartitem.item.title %><br>
                                                    
                                                        Price <%= number_to_currency cartitem.item.price %> <br>
                                                        Shipping <%= number_to_currency cartitem.item.shipping %>
                                                        </div>  
                                            <% end %>
                                        
                                        
                                              <p class = "  remove-buy-cartitem">  
                                                      <%= link_to 'Remove', delete_item_path(cartitem), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-secondary" %>   
                                                      <%= link_to 'Buy Item', item_path(cartitem.item), class: "btn btn-sm btn-outline-secondary" %>   
                                              </p>
                                            
                                    </div>   
                    </div>   
            <%end%>
        </div>
</section>

    </div> 
</main>
</body>

<%= render 'shared/footer'%> 

