<p id="notice"><%= notice %></p>

<%= render 'shared/nav'%>   

<div class="row">
  <div class="col-md-8">
        <div class="row">
        <% @item.images.each do |image|%>
              <div class="col-md-6" >
                <%= image_tag image, class: "d-block w-100" %>
              </div>
        <% end %>
        </div>
  </div>
<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @item.colour %>
</p>

<p>
  <strong>Material:</strong>
  <%= @item.material %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @item.shipping%>
</p>


<% if(current_user && current_user.id && (current_user.id == @item.user_id)) %>
    <%= link_to 'Edit', edit_item_path(@item) %> 
<% end %>
<%= link_to 'Back', items_path %>
