<header>
<%= render 'shared/nav'%>  
</header> 
<body>
    <div class="show-container">    
          
            
                <% @item.images.each do |image|%>
                    <%= image_tag image, class: "show-image" %> 
                  <% end %>
        
          <div class=" main-show-text">

                <%= @item.id %>
              <p>
                <strong>Title:</strong>
                <%= @item.title %>   
              </p>
    
              <p>
                <strong>Price:</strong>
                <%= number_to_currency(@item.price) %>
              </p>

              <p>
                <strong>Description:</strong>
                <%= @item.description %>
              </p>

              <p>
                <strong>Size:</strong>
                <%= @item.size %>
              </p>

              <p>
                <strong>Colour:</strong>
                <%= @item.colour %>
              </p>

              <p>
                <strong>Material:</strong>
                <%= @item.material %>
              </p>

              <p>
                <strong>Location:</strong>
                <%= @item.location %>
              </p>

              <p>
                <strong>Shipping:</strong>    
                <%= number_to_currency(@item.shipping) %>
              </p>
              <p>
                <strong>Seller:</strong>
                <%= link_to @item.user.username, @item.user %>
              </p>
              <p>
              <% if(current_user && current_user.id && (current_user.id == @item.user_id)) %>
              <%= link_to 'Edit', edit_item_path(@item) %> 
              <% end %>
              </p>
              <p>
              <%= link_to 'Back', items_path %>
              </p>
           
              <%= button_to 'Add to Bag', cart_path(item_id: @item.id) %>
          
              <%= button_to 'Sign In to Purchase', new_user_session_path %>
     
          </div>    
    </div>
</body>

<%= render 'shared/footer'%> 
