<header>
<%= render 'shared/nav'%>  
</header> 
<body>
<main role="main">    
<div class=" bg-light">
    <div class="show-container">    
          
      <div class="show-image-wrap">       
                <% @item.images.each do |image|%>
                   <div class = "rounded d-block">
                    <%= image_tag image, class: "show-image" %> 
                    </div>
                  <% end %>
      </div> 
          <div class=" main-show-text">
              <p>
              <strong>Seller:</strong>
              <%= link_to @item.user.username, @item.user %>
              </p>
              <p>
                <strong>Title:</strong>
                <%= @item.title %>
              </p>

              <p>
              <strong>Description:</strong>
              <%= @item.description %>
              </p>

             
              <p>
                <strong>Size:</strong>
                <%= @item.size %>
              </p>

              <p>
                <strong>Colour:</strong>
                <%= @item.colour %>
              </p>

              <p>
                <strong>Material:</strong>
                <%= @item.material %>
              </p>

              <p>
                <strong>Location:</strong>
                <%= @item.location %>
              </p>
              
              <p>
              <strong>Price:</strong>
              <%= number_to_currency(@item.price) %>
              </p>
              <p>
                <strong>Shipping: </strong>    
                <%= number_to_currency(@item.shipping)%>
              </p>
              
              <p>  
              <% if(current_user && current_user.id && (current_user.id == @item.user_id)) %>
              <%= link_to 'Edit', edit_item_path(@item), :class => "btn btn-sm btn-outline-secondary" %> 
              <% end %>
              </p>  
              <p> 
              <%= link_to 'Back', items_path, :class => "btn btn-sm btn-outline-secondary" %>
              </p>
              <p>    
              <% unless(current_user && current_user.id && (current_user.id == @item.user_id)) %>
              <%= link_to "Save to Bag", cart_path(@item), :method => :post, :class => "btn btn-outline-secondary " %>
              <button class=" btn btn-outline-secondary" data-stripe="payment">
              Buy Now
              </button>
              <% end %>  
              </p>      
              
              
          </div>
          
    </div> 
   

  </div>  
</main>
</body>
 
<%= render 'shared/footer'%> 

  
   
<script>
document
  .querySelector("[data-stripe='payment']")
  .addEventListener("click", () => {
    const stripe = Stripe(
      "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
    );

    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>